/* David Muños Río - UO289792 */

/* ==================================================
   Colores elegidos:
   Navy Blue: #05445e
   Blue Grotto: #189ab4
   Baby Blue: #d4f1f4
   White: #ffffff
================================================== */

/* Selector: body → especificidad 0,0,1 */
body {
  background-color: #d4f1f4; /* Baby Blue */
  color: #05445e; /* Navy Blue */
  font-family: Arial, Helvetica, sans-serif;
}

/* Selector: header → especificidad 0,0,1 */
header {
  background-color: #05445e; /* Blue Grotto */
  color: #ffffff;
}

/* Selector: a → especificidad 0,0,1 */
header a {
  color:  #ffffff;  /* White */
  text-decoration: none;
}

/* Selector: h1 → especificidad 0,0,1 */
h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Especificidad: 003*/
header nav a {
    margin: 0.5em;
    font-size: 1.2em;
}

/* Especificidad: 013 */
header nav a.active {
    color: #FFF894;
}

/* Especificidad: 001 */
footer {
    background-color: #05445e;
    color: #ffffff;
    padding: 1em;
    margin-top: 2em;
}



