/* David Muños Río - UO289792 */
/* MotoGP-Desktop*/
/* Hoja de estilo principal del proyecto */

/* ==================================================
   Colores elegidos:
   Navy Blue: #05445e
   Baby Blue: #d4f1f4
   White: #ffffff
   Black: #000000
   Celadón Claro: #A8BBB0
================================================== */

/* Especificidad: 001 */
body {
  background-color: #d4f1f4; /* Baby Blue */
  color: #05445e; /* Navy Blue */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
}

/* Especificidad: 001 */
main {
  margin: 1em;
}

/* Especificidad: 001 */
header {
  background-color: #05445e; /* Blue Grotto */
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

/* Especificidad: 002 */
header a {
  color:  #ffffff;  /* White */
  /* Color de fondo heredado de header (#05445e) */
  text-decoration: none;
}

/* Especificidad: 002 */
input + article * {
  margin-left: 0;
  margin-right: 0;
}

/* Especificidad: 002*/
header + p {
  background-color: #A8BBB0;
  /* Color de primer plano heredado de body (#05445e) */
  padding: 1em 1em;
  margin-top: 0em;
  font-size: 0.9em; 
}

/* Especificidad: 003*/
header + p > a {
  color: #05445e;
  /* Color de fondo heredado de header + p (#A8BBB0) */
}

/* Especificidad: 003*/
header nav a {
  margin: 0.5em;
  font-size: 1.2em;
}

/* Especificidad: 013 */
header nav a.active {
  color: #FFF894;
  /* Color de fondo heredado de header (#05445e) */
}

/* Especificidad: 003 */
header nav a {
  text-decoration-line: none;
}

/* Especificidad: 013 */
header nav a:hover {
  text-decoration-line: underline;
}

/* Especificidad: 013 */
header nav a:focus {
  outline: 0.15em solid currentColor;
  outline-offset: 0.2em;
}

/* Especificidad: 001 */
caption {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Especificidad: 001 */
video {
  width:40%;
  height:auto;
}

/* Especificidad: 001 */
audio {
  width:40%;
}

/* Especificidad: 001 */
figcaption {
  font-weight: bold;
}

/* Especificidad: 001 */
footer {
  background-color: #05445e;
  color: #ffffff;
  padding: 1em;
  margin-top: 1.5em;
  margin-bottom: 0;
  text-align: center;
}

/* Especificidad: 001 */
svg {
  width: 100%;
  height: auto;
}

/* Especificidad: 001 */
input {
  width: 30%;
  margin-bottom: 0.5em;
}

/* Especificidad: 001 */
label {
  display: block;  /* hace que cada label ocupe toda la línea */
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Especificidad: 001 */
textarea {
  width: 30%;
}

/* Especificidad: 001 */
select {
  width: 15%;
}

/* Especificidad: 002 */
figure img{
  width: 40%;  
  height:auto;  
}

/* Especificidad: 011 */
input[type="file"] {
  width: 100%;
}

/* Especificidad: 001 */
button {
  font-weight: bold;
  font-size: 1.2em;
}

/* Especificidad: 002 */
figure video{
  width: 40%;  
  height:auto;     
}

/* Especificidad: 003 */
section h3 + img {
  width: 60%;
  height: auto;
}


/* Especificidad: 002 */
h3 > img {
  width: 5%;
  height: auto;
  vertical-align: middle;
  margin-left: 0.5em;
}

/* Especificidad: 001 */
table{
  border-collapse: collapse;
  width: 30%;
  font-size: 1.3em;
}

@media (max-width: 600px) {
  /* Especificidad: 001 */
  video {
    width:100%; /* Redefinición de width */
    height:auto; /* Redefinición de height */
  }
  /* Especificidad: 001 */
  audio {
    width:100%; /* Redefinición de width */
  }
  /* Especificidad: 001 */
  table {
    width: 100%; /* Redefinición de width */
  }

  /* Especificidad: 002 */
  figure img{
    width: 100%; /* Redefinición de width */
    height:auto; /* Redefinición de height */
  }

  /* Especificidad: 002 */
  figure video{
    width: 100%;  /* Redefinición de width */
    height:auto;  /* Redefinición de height */    
  }

  /* Especificidad: 001 */
  textarea {
    width: 100%; /* Redefinición de width */
  }

  /* Especificidad: 001 */
  select {
    width: 100%; /* Redefinición de width */
  }

  /* Especificidad: 003 */
  section h3 + img {
    width: 100%; /* Redefinición de width */
    height: auto; /* Redefinición de height */
  }

  /* Especificidad: 002 */
  h3 > img {
    width: 12%; /* Redefinición de width */
  }

  /* Especificidad: 001 */
  input {
    width: 100%; /* Redefinición de width */
  }
}

/* Estilos optativos */

/* Especificidad: 002 */
main p {
  text-align: justify;
}

/* Especificidad: 001 */
/* Especificidad: 001 */
th, td {
  padding: 0.5em 1em;
  border: 0.1em solid #000000;
  text-align: left;
}

/* Especificidad: 001 */
th {
  background-color: #05445e;
  color: #ffffff;
}

/* Especificidad: 001 */
td {
  background-color: #ffffff;
  color: #000000;
}

/* Especificidad: 001 */
dl {
  margin: 1em 0;
}

/* Especificidad: 001 */
dt {
  font-weight: bold;
  margin-top: 0.8em;
}

/* Especificidad: 001 */
dd {
  margin-left: 1.5em;
}

/* Especificidad: 001 */
ul {
  list-style-type: square;
  padding-left: 2em;
}

/* Especificidad: 001 */
ol {
  padding-left: 2em;
}

/* Especificidad: 002 */
ul ul {
  list-style-type: circle;
}

/* Especificidad: 001 */
p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
}

/* Especificidad: 001 */
h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0.2em 0 0.2em 0;
}

/* Especificidad: 001 */
h2 {
  font-size: 2em;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  font-weight: bold;
}

/* Especificidad: 001 */
h3 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* Especificidad: 001 */
h4 {
  font-size: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  font-weight: bold;
}

/* Especificidad: 001 */
h5 {
  font-size: 1.1em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

/* Especificidad: 001 */
h6 {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-weight: bold;
}







