/* David Muños Río - UO289792 */ 
/* MotoGP-Desktop*/
/* Hoja de estilo para el layout del juego de memoria con cartas */

/* especificidad: 001 */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap:1rem;
  padding: 5rem;  
} 

/* especificidad: 002 */
main h2 {
  grid-column: 1 / -1;
  margin: 0 0 1rem 0;
  text-align: center; 
}

/* especificidad: 002 */
main section {
  grid-column: 1 / -1;
  margin: 0 0 1rem 0;
  text-align: center; 
}

/* especificidad: 003 */
main section p {
  grid-column: 1 / -1;   
  text-align: center;     
}

/* especificidad: 002 */
main > p {
  grid-column: 1 / -1;   
  text-align: center;     
  font-size: 2rem;        
}

/* especificidad: 002 */
main article { 
  width: 100%;
}

/* especificidad: 002 */
article h3 {
  color: #ffffff; /* color del texto en blanco */
  /* Color de fondo estaclecido en cards.css (#05445e) */
  text-align: center;
}

@media (max-width: 600px) {
  /* especificidad: 001 */
  main {
    grid-template-columns: repeat(2, 1fr);     /* Redefinición de grid-template-columns */
    row-gap: 0.5rem; /* Redefinición de row-gap */
    column-gap: 0.5rem;   /* Redefinición de column-gap */
    padding: 0rem;  
    /*  Redefinición de padding-bottom 
        Redefinición de padding-left
        Redefinición de padding-top
        Redefinición de padding-right
    */
  }
}
