/* David Muños Río - UO289792 */
/* MotoGP-Desktop*/
/* Hoja de estilo para el layout general del proyecto */

/* Especificidad: 001 */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
}

/* Especificidad: 002 */
body div {
    width: 50%;
    height: 70vh;
    margin-top: 1em;
}

@media (max-width: 600px) {
    /* Especificidad: 001 */
    header {
        flex-direction: column; /* Redefinición de flex-direction */
        justify-content: center;  /* Redefinición de justify-content */
    }
    
     /* Especificidad: 002 */
    header + p {
        display: none;
    }

    /* Especificidad: 001 */
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1em;
    }

    /* Especificidad: 002 */
    body div {
        width: 100%;   /* Redefinición de width */
        height: 40vh;  /* Redefinición de height */
        margin-top: 1em; /* Redefinición de margin-top */
    }
}
