/* especificidad: 001 */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 5rem;  
} 

/* especificidad: 002 */
main h2 {
  grid-column: 1 / -1;
  margin: 0 0 1rem 0;
}

main article h3 {
  color: white;           /* color del texto en blanco */
}

/* especificidad: 001 */
@media (max-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
