/* David Muños Río - UO289792 */
/* MotoGP-Desktop*/
/* Hoja de estilo para el layout general del proyecto */

/* Especificidad: 001 */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
}

/* Especificidad: 002 */
body div {
    width: 50%;
    height: 70vh;
    margin-top: 1em;
}

@media (max-width: 600px) {
    /* Especificidad: 001 */
    header {
        flex-direction: column;   /* redefinición de la propiedad flex-direction */
        justify-content: center;  /* redefinición de la propiedad justify-content */         
    }
    
     /* Especificidad: 002 */
    header + p {
        display: none;
    }

    /* Especificidad: 001 */
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1em;
    }

    /* Especificidad: 003 */
    article h2 + img {
        width: 100%;
        height: auto;
    }

    /* Especificidad: 002 */
    body div {
        width: 100%;
        height: 40vh;
        margin-top: 1em;
    }
}
